.city {
    height: fit-content;
    margin-top: 10rem;
    &__location {
        &--name {
            font: 500 10rem "Bespoke Stencil", san-serif;
            position: relative;
            animation: move 3s ease-out infinite;
        }
    }
    @keyframes move {
        0% {
            left: 0rem;
        }
        50% {
            left: 5rem;
        }
        100% {
            left: 0rem;
        }
    }
    &__date {
        &--value {
            font-size: 2.2rem;
        }
    }
}

.condition {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    &__status {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            color: #fff;
            width: 10rem;
            height: 10rem;
        }
        &--value {
            font-size: 3rem;
        }
    }
    &__temp {
        &--value {
            font: 500 35rem "Bespoke Stencil", san-serif;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 5rem;
                height: 5rem;
                border: 2rem solid #fff;
                border-radius: 50%;
                transform: translate(100%, 120%);
            }
        }
    }
}

.forecast {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    &__day {
        border: 1px solid #fff;
        width: 100%;
        display: grid;
        grid-template-rows: 30% 70%;
        padding: 1.5rem 0;
        &--date {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.5rem;
            width: 70%;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width:700px) {
    .body {
        width: 100%;
        background: url("../img/background.jpg") no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        background-size: auto;
    }
    .app {
        flex-direction: column-reverse;
        margin: 50px 0;
        flex-basis: 100%;
        margin-bottom: 50px;
        position: relative;
    }
    .search {
        width: 100%;
        display: inline-flex;
    }
}