.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 200;

  &__title {
    font: 300 3rem "Bespoke Stencil", san-serif;
  }

  input {
    width: 40%;
    border-radius: 5rem;
    color: #333;
    border: 1px solid transparent;
    padding: 2rem 5rem;
    font-size: 1.6rem;
    font-weight: 300;
  }
}
