* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100%;
  font: 300 1.8rem "Pally", sans-serif;
  color: #fff;
  background: url("../../src/img/b1.jpg") no-repeat;
  top: 0;
  left: 0;
  background-size: cover;
  overflow: hidden;
  animation: slides 20s infinite;
}

input:focus {
  outline: none;
}

.app {
  display: grid;
  grid-template-rows: 10vh 90vh;
}
.app-holder {
  display: grid;
  grid-template-rows: 55vh 10vh 25vh;
}
.app-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15rem;
}

.hide {
  display: none;
}

@keyframes slides {
  0% {
    background: url("../../src/img/b1.jpg");
    top: 0;
    left: 0;
    background-size: cover;
  }
  20% {
    background: url("../../src/img/b1.jpg");
    top: 0;
    left: 0;
    background-size: cover;
  }
  40% {
    background: url("../../src/img/b2.jpg");
    top: 0;
    left: 0;
    background-size: cover;
  }
  60% {
    background: url("../../src/img/b2.jpg");
    top: 0;
    left: 0;
    background-size: cover;
  }
  80% {
    background: url("../../src/img/b3.jpg");
    top: 0;
    left: 0;
    background-size: cover;
  }
  90% {
    background: url("../../src/img/b3.jpg");
    top: 0;
    left: 0;
    background-size: cover;
  }
  100% {
    background: url("../../src/img/b1.jpg");
    top: 0;
    left: 0;
    background-size: cover;
  }
}
.others {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.others__condition {
  padding: 1.5rem 3rem;
  background-color: #fff;
  box-shadow: 0 2px 10px 5px #3333331f;
  color: #0b163f;
}
.others__condition span:nth-child(2) {
  color: #f74242;
}

@media screen and (max-width: 600px) {
  .app-holder {
    width: 53%;
    position: absolute;
  }

  .forecast__day--date {
    justify-content: center;
    align-items: center;
  }

  body {
    flex-direction: column-reverse;
    margin: 0 auto;
    font-size: small;
  }

  .app {
    position: absolute;
  }

  .form {
    position: absolute;
    width: 100%;
    transform: translateX(100%);
    display: flexbox;
    flex-direction: column-reverse;
  }
  .form__title {
    overflow: hidden;
    display: none;
  }
  .form__search {
    padding: 100%;
    transform: translateX(50%);
    width: 100%;
  }

  .forecast {
    width: 100%;
    bottom: 0;
    padding-left: 4%;
    position: relative;
    grid-template-columns: repeat(1, 5fr);
    margin-bottom: 5px;
    margin-top: 10px;
    flex-direction: row-reverse;
  }
}
.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 200;
  width: 100%;
}
.form__title {
  font: 500 3rem "Bespoke Stencil", san-serif;
  margin-left: -8%;
}
.form input {
  width: 42%;
  border-radius: 5rem;
  color: #333;
  border: 1px solid transparent;
  transform: translateX(-14%);
  margin-inline: 10%;
  padding: 2rem 5rem;
  font-size: 1.6rem;
  font-weight: 300;
}

.city {
  height: fit-content;
  margin-top: 10rem;
}
.city__location--name {
  font: 500 10rem "Bespoke Stencil", san-serif;
  position: relative;
  animation: move 3s ease-out infinite;
}
@keyframes move {
  0% {
    left: 0rem;
  }
  50% {
    left: 5rem;
  }
  100% {
    left: 0rem;
  }
}
.city__date--value {
  font-size: 2.2rem;
}

.condition {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
}
.condition__status {
  display: flex;
  justify-content: center;
  align-items: center;
}
.condition__status img {
  color: #fff;
  width: 10rem;
  height: 10rem;
}
.condition__status--value {
  font-size: 3rem;
}
.condition__temp--value {
  font: 500 35rem "Bespoke Stencil", san-serif;
  position: relative;
}
.condition__temp--value::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  border: 2rem solid #fff;
  border-radius: 50%;
  transform: translate(100%, 120%);
}

.forecast {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.forecast__day {
  border: 1px solid #fff;
  width: 100%;
  display: grid;
  grid-template-rows: 30% 70%;
  padding: 1.5rem 0;
}
.forecast__day--date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 700px) {
  .body {
    width: 100%;
    background: url("../img/background.jpg") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    background-size: auto;
  }

  .app {
    flex-direction: column-reverse;
    margin: 50px 0;
    flex-basis: 100%;
    margin-bottom: 50px;
    position: relative;
  }

  .search {
    width: 100%;
    display: inline-flex;
  }
}

/*# sourceMappingURL=styles.css.map */
